version: 2
jobs:
  build:
    docker:
      - image: cimg/php:8.1.1

    steps:
      - checkout
      - run: php --version

      - run: echo 'deb [trusted=yes] https://repo.symfony.com/apt/ /' | sudo tee /etc/apt/sources.list.d/symfony-cli.list
      - run: sudo apt update
      - run: sudo apt install symfony-cli
      - run: sudo symfony server:ca:install
      
      #- run: sudo docker-php-ext-install zip

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}
            - v1-dependencies-

      - run:
          name: "Create Environment file"
          command: mv .env.test .env

      - run:
          name: "Install Dependencies"
          command: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor
      - run:
          name: Run web server
          command: symfony server:start && symfony open:local
          background: true

      # run Behat test
      - run:
          name: "Run Behat test"
          command: vendor/bin/behat